.markdown-body {
  --resume-page-theme: 89, 116, 212;
  --link-color: #333333;
  --list-text-color: #333333;

  h2 {
    position: relative;
    font-size: 20px;
    color: rgba(var(--resume-page-theme));
    border-bottom: 1px solid rgba(var(--resume-page-theme));
    line-height: 1.5715;
    margin-left: 5px;
  }
}
