// 字体定义
@font-face {
  font-family: 'pingfang-sc';
  src: url(../../assets/font/PingFang-Medium-sub.ttf);
  font-weight: 400;
  font-style: normal;
}

// 主题特定样式
.markdown-body {
  font-family: 'pingfang-sc', 'sans-serif';

  h2 {
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-image: url(../../assets/icon/LineiconsLineiconsSymbol.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  p {
    color: var(--link-color);
  }
}
