.markdown-body {
  h1 {
    font-size: 30px;
    color: #000;
    padding: 0;
    line-height: 1.5;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0.5em;
    display: block;
    margin: 5px 0;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  h3 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 2px;
  }

  line-height: 1.9;
  font-size: 14px;

  .md-icon-svg {
    display: inline-block;
    color: #747474;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  ul {
    padding-left: 1.3em;
    overflow: hidden;
  }

  li {
    color: #666666;
    list-style-type: square;
  }

  p {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    font-size: 14px;
  }

  code {
    padding: 2px 5px;
    border: 1px solid #d5dbe7;
    border-radius: 30px;
    font-size: 12px;
    line-height: 14px;
    color: #b3bacd;
    background-color: transparent;
  }

  a {
    color: #747474;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }

  .p {
    font-size: 12px;
    text-decoration: none;
    margin: 0 4px;
    border-bottom: 1px dashed black;
  }
}

.icon-md {
  display: inline-block;
  vertical-align: middle;
}

.lr-container {
  .left {
    float: left;
  }

  .right {
    float: right;
  }

  overflow: hidden;
  margin: 10px 0;
}
